*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
section {
    display: flex;
    justify-content:center ;
    align-items: center;
    min-height: 100vh;
    background: url(img/bg1.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    padding: 50px;
}
.container {
    position: relative;
    width: calc(100% - 100px);
    min-height: calc(100vh - 280px);
    min-height: 300px;
    background: rgba(255,255,255,0.5);
    box-shadow: 0 10px 45px rgba(0,0,0,0);
    border-radius: 20px;
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 50px;
}
header  {
    position: absolute;
    top: -40px ;
    right: 20px;
    left: 20px;
    padding: 20px 50px;
    display: flex;
    justify-content:space-between;
    align-items: center;
    background: rgba(255,255,255,0.5);
    box-shadow: 0 10px 35px rgba(0,0,0,0.05);
    border-radius: 20px;
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255,255,255,0.25); 
    border-top: 1px solid rgba(255,255,255,0.5); 
    border-left: 1px solid rgba(255,255,255,0.5); 
}
header ul {
    display: flex;
}
header ul li {
    list-style: none;
    margin: 0 10px;
}
header ul li a{
    color: #8a2435;
    font-weight: 600;
    text-decoration: none;
    font-size: 1.6em;
    padding: 8px 15px;
    border-radius: 20px;
}
header ul li a:hover, 
header ul li a.active {
    background: #fff;
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
}
.content {
    transform: translateX(-100px);
    max-width: 700px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.1);
    border-radius: 20px;
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255,255,255,0.25); 
    border-top: 1px solid rgba(255,255,255,0.5); 
    border-left: 1px solid rgba(255,255,255,0.5); 
    padding: 40px;
    padding-left: 110px;
}
.content h2 {
    font-size: 3em;
    color: #8a2435;
}
.content p {
    font-size: 1.2em;
    color: #8a2435;
}
button {
    display: inline-block;
    padding: 15px 30px;
    margin-top: 20px;
    background: #fff;
    color: #8a2435;
    font-size: 1.2em;
    font-weight: 600;
    border-radius: 30px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
    border: none;
}
button a{
    text-decoration: none;
}
button:hover { 
    background:  #8a2435;
    font-size: 1.6em;
    transition: 1s;
}
button a:hover { 
    color: #fff;
}
.imgBx {
    margin-right: 30px;
}
.imgBx img {
    max-height: 400px;
    animation: animate 5s linear infinite;
}
@keyframes animate {
    0%,100% {
        transform: translateX(-100px);
    }
    50% {
        transform: translateX(50px);
    }
}
.link {
    position: absolute;
    right: -25px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;  
}
.link li {
    list-style: none;
}
.link li a {
    text-decoration: none;
    width: 50px;
    height: 50px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin: 5px 0;
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
}
.link li a i{
    transform: scale(0.8);
    transition: 0.5s;
}
.link li:hover a i{
    transform: scale(1) rotate(360deg);
}
.copyrightText {
    position: absolute;
    bottom: 30px;
    right: 50px;
    color: #8a2435;
}
.copyrightText a {
    color: darkslateblue;
    text-decoration: none;
}
@media only screen and (max-width: 1200px) {
    .container {
      position: relative;
      width: calc(100%-20px);
    }
  } 
@media only screen and (max-width: 992px) {
    section {
      padding: 10px 10px 50px;
    }
    .container {
      flex-direction: column;
      height: auto;
      padding: 20px;
    }
    .container .content {
        transform: translateX(0px);
        max-width:100%;
        padding: 30px;
        margin-top: -40px;
    }
    header {
        position:relative;
        flex-direction: column;
        width: 100%;
        top: -60px;
        padding: 20px;
        right:0;
        left: 0;
    }
    header ul{
        margin-top: 10px;
        flex-wrap: wrap;
    }
    header ul li{
        margin: 2px;
    }
    header ul li a{
        display: inline-block;

    }
    .imgBx {
       margin-bottom: 30px;
    }
    .imgBx img {
        max-height: 400px;
    }
    .link {
        position: relative;
        flex-direction:row; 
    }
    .link li a {
        margin: 0 10px;
    }
    .copyrightText {
        position: relative;
        bottom: initial;
        left: inherit;
        width: 100%;
        margin-top: 20px;
        text-align: center;
    }
}
@media only screen and (max-width: 600px) {
    .content h2 {
        font-size: 1.5em;
    }
    .content p {
        font-size: 1em;
    }
    .imgBx img {
        max-height: 300px;
    }
    @keyframes animate {
        0%,100% {
            transform: translateY(30px);
        }
        50% {
            transform: translateY(-60px);
        }
    }
}